.testimonial{
    margin: auto;
    padding: 12px 4px;
 background-image: url('/images/bg1.webp');
}
.testimonial h1{
    margin: 12px 0px 4px 0px;
    color: rgb(223, 15, 15);
}
.testimonial h2{
    margin-bottom: 12px;
    color: rgb(31, 31, 31);
}
.client{
    background-color: white;
    border-radius: 5px;
    padding: 12px 12px;
}
.client-name{
    color: orange;
    text-align: right;
}

.testimonial{
    animation: leftanimate linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
}
